@import url("https://fonts.googleapis.com/css2?family=Abel&family=Archivo+Black&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Abel-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/ArchivoBlack-Regular.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

html {
  scroll-behavior: smooth !important;
}
body {
  overflow-x: hidden;
}
